.container{
    width: 365px;
    height: 1000px;
    background-color:#F8F8FA;

}
.item a  {
    color: #B4C0D4;
    text-decoration: none;
    margin-bottom: 50px;
    padding-left: 122px;
}

.item a.active{
    color: #49478F;
    
}

.logo{
    padding-top: 44px;
    padding-bottom: 72px;
    padding-left: 122px;
} 

