/* .container{
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 40px;
}  

.items .active{
    color: rgb(155, 170, 139);
} */

.container {
    padding-top: 30px;
    width: 970px;
    height: 100px;
}

.container:hover {
    background: #F8F8FA;
}


.img {
    width: 919px;
    height: 189px;
    padding: 700px;
    margin: 0;
}

.user_info_container{
    padding-left: 37px;
    position: relative;
    display: flex;
    
}

